<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>運営者情報</title>
</head>
<body>
  <h1>運営者情報</h1>

  <ul>
    <li>運営者：TKG</li>
    <li>サイト内容：格安SIM・SNS通信量に関する情報提供</li>
    <li>連絡先：example@gmail.com</li>
  </ul>
</body>
</html>
