<table>
  <thead>
    <tr>
      <th>SNS</th>
      <th>1時間の通信量目安</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Instagram</td>
      <td>約300MB〜1GB</td>
    </tr>
    <tr>
      <td>YouTube</td>
      <td>約1〜3GB</td>
    </tr>
    <tr>
      <td>X（旧Twitter）</td>
      <td>約150MB</td>
    </tr>
    <tr>
      <td>TikTok</td>
      <td>約1GB以上</td>
    </tr>
  </tbody>
</table>
